@charset "UTF-8";
/* CSS Document */

html, body {
  margin: 0px;
}

.clear {
  clear: both;
}

#wrapper {
  width: 100%;
  max-width: 960px;
  margin: auto;
}


/*---------- HEADER ----------*/

header {
  height: 300px;
  width: 100%;
  background: #e3e3e3;
}


/*---------- CONTENT AREA ----------*/

.col-3 {
  width: 100%;
  height: 320px;
  float: left;
}

#column-1 {
  background: #ffdfff;
}

#column-2 {
  background: #001287;
}

#column-3 {
  background: #f0a328;
}


/*---------- FOOTER ----------*/

footer {
  width: 100%;
  height: 30px;
  background: #e3e3e3;
}


/*---------- TABLET ----------*/
/* Change the background colors below */

@media (min-width: 768px) and (max-width: 1199px) {
  header {
    background-color: cadetblue;
  }

  #column-1 {
    background-color: blue;
    width: 100%;
  }

  #column-2 {
    background-color: blanchedalmond;
  }

  #column-3 {
    background-color: chartreuse;
  }

  footer {
    background-color: chocolate;
  }

  .col-3 {
    width: 50%;    
  }
  
}


/*---------- Desktops ----------*/
@media (min-width: 1200px) {
  header {
    background-color: thistle;
  }

  #column-1 {
    background-color: violet;
  }

  #column-2 {
    background-color: wheat;
  }

  #column-3 {
    background-color: maroon;
  }

  footer {
    background-color: linen;
  }

  .col-3 {
    width: 33.33%;
    overflow: auto;
  }
   
}
